<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.rossbower.suggesterapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <meta-data android:name="DATABASE" android:value="suggester.db" />
        <meta-data android:name="VERSION" android:value="10" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value=
            "me.rossbower.suggesterapp.data" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SuggestActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="Suggestion"
            />

        <activity
            android:name=".EditActivity"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="Type"
            />

        <activity android:name="me.rossbower.suggesterapp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDKP27qJ_1ebTRALwQS3Y5FEqINdXG9y3c"/>
    </application>

</manifest>